<h2><%= @list.name %></h2>

<ul>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div>
      <h3><%= movie.title %> (<%= movie.rating %>)</h3>
      <div class="d-flex">
        <div class="p-2 flex-grow-1 col-4"> <%= movie.overview %> 
        <p>"<%= bookmark.comment %>"</p></div>
        <div class="p-2 col-2"> <%= image_tag movie.poster_url, width: "128" %> </div>
        <%= link_to "Delete", bookmark_path(bookmark), method: :delete %>
      </div>
    </div>
  <% end %>
</ul>

<%= simple_form_for [@list, @bookmark]  do |f| %>
<%= f.input :comment %>
<%= f.association :movie %>
<%= f.input :photo, as: :file %>
<%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to("Volver", root_path) %>
