<h2><%= @list.name %></h2>

<ul>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li>
      <%= movie.title %>
      <br/>
      <%= bookmark.comment %>
      <%= link_to "Delete bookmark", bookmark_path(bookmark), method: :delete %>
    </li>
  <% end %>
</ul>

<%= simple_form_for [@list, @bookmark]  do |f| %>
<%= f.input :comment %>
<%= f.association :movie %>
<%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to("Volver", lists_path) %>
